<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="js/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div
      id="root"
      class="container d-flex align-items-center justify-content-center"
    >
      <div id="carousel">
        <div class="gallery">
          <figure v-for="(pic, i) in pictures" v-show="i === currentIndex">
            <img class="img-fluid" :src="pic.image" :alt="pic.title" />
            <figcaption class="text">
              <h2>{{ pic.title }}</h2>
              <p>{{ pic.text }}</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div id="thumbnail">
        <div class="thumbnail-gallery">
          <img
            v-for="(pic, i) in pictures"
            class="img-fluid"
            :src="pic.image"
            :alt="pic.titile"
            :class="{'active': i === currentIndex}"
          />
        </div>
        <i
          id="prev"
          class="fa-solid fa-circle-chevron-up"
          @click="goTo('prev')"
        ></i>
        <i
          id="next"
          class="fa-solid fa-circle-chevron-down"
          @click="goTo('next')"
        ></i>
      </div>
    </div>
  </body>
</html>
